<!-- bottom-page -->
<div class="bottom-page">
  <div class="body-text">Copyright © 2024 Volvrit. Design with</div>
  <i class="icon-heart"></i>
  <div class="body-text">by
    <a href="https://volvrit.com/" target="__blank">Volvrit</a>
    All rights reserved.</div>
</div>
<!-- /bottom-page -->